<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sms page</title>
</head>
<body>
    <form action="/send-sms" method="post">
        <input type="text" name="to" placeholder="To">
        <input type="text" name="message" placeholder="Message">
        <button type="submit">Send SMS</button>
    </form>
</body>
</html>